version: '3'

services:
  minio:
    image: minio/minio
    container_name: flitz-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: 'flitzdev'
      MINIO_ROOT_PASSWORD: 'flitzdev123'
    volumes:
      - ./minio-data:/data
    entrypoint: sh
    command: -c 'sh -c "sleep 5 && mc config host add myminio http://localhost:9000 flitzdev flitzdev123 && /usr/bin/mc anonymous set download myminio/flitz && /usr/bin/mc anonymous set download myminio/flitz-server-static" & mkdir -p /data/flitz && mkdir -p /data/flitz-server-static && /usr/bin/minio server /data --console-address ":9001"'

  redis:
    image: 'redis:7.4.2'
    container_name: flitz-redis
    ports:
      - "6380:6379"
    volumes:
        - ./redis-data:/data
